:root{
    --primary-color:#E07A5F;
    --secondary-color: #F2CC8F;
    --accent-color:#3D405B;
    --highlight-color: #F4A261;
    --bg-color:#FFF8F0;
    --text-color:#3A2E2A;
    --level1:8px;
    --level2:16px;
    --level3:32px;
    /* overflow-x: hidden; */
}

html, body{
    height: auto;
    min-height: 100%;
}

.bg-primary{ background-color: var(--primary-color); }
.bg-secondary{ background-color: var(--secondary-color); }
.bg-accent{ background-color: var(--accent-color); }
.bg-highlight{ background-color: var(--highlight-color); }
.bg-text-color{ background-color: var(--text-color); }

.m-0,.mg-0,.margin-0{ margin:0; }
.m-1,.mg-1,.margin-1{ margin: var(--level1); }
.m-2,.mg-2,.margin-2{ margin: var(--level2); }
.m-3,.mg-3,.margin-3{ margin: var(--level3); }

.p-0,.pd-0,.padding-0{ padding: 0; }
.p-1,.pd-1,.padding-1{ padding: var(--level1); }
.p-2,.pd-2,.padding-2{ padding: var(--level2); }
.p-3,.pd-3,.padding-3{ padding: var(--level3); }

.row{ display: flex; flex-direction: row; }
.column, .col{  display: flex;  flex-direction: column; }

.flex-1{ flex: 1;}
.flex-2{ flex: 2;}
.flex-3{ flex: 3;}

.h-100{ height: 100%;}
.h-50{height: 50%;}
.w-100{width: 100%;}
.w-50{width: 50%;}
.viewport-h{ height: 100vh; }
.viewport-w { width: 100vw; }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main{
    display: flex;
    flex:1;
    background-color: var(--highlight-color);
    flex-direction: column;
}




/* HEADER */
#header{
    text-align: center;
    background-color: var(--highlight-color);
}

/* HERO */


section#hero{
    flex:1;
    display: flex;
    flex-direction: column;
}
    /*  BANNER */
.banner{
    background-color: var(--secondary-color);
    border-radius: var(--level2);
    /* padding: var(--level2); */
    text-align: center;
}

    /*ANIMATED TEXT  */
    
.banner img{
    /* width: 100%; */
    object-fit:cover;
    height: 200px;
}

.text-slide{
    background-color: var(--secondary-color);
    /* padding: var(--level2); */
    border-radius: var(--level2);
    text-align: center;
}

 .text-slide p{
    overflow: hidden;
}


    /* Information */
.information{
    display: flex;
    flex-direction: column;
    gap: var(--level2);
    justify-content: space-around;
    /* align-items: center; */
    /* height: auto; */
    margin-bottom: 20px;
}

.info-card{
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    /* max-width: 300px; */
    /* height: auto; */
    border-radius: 6px;
}
.info-card img{
    width: 100%;
}


/* END HERO */




/* BESTILLING */

section#ordering{
    height: 100%;
    display: flex;
    text-align: center;
    flex:1;
    flex-direction: column;
}

#ordering .ordering-container{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: 6px;
    padding: 10px;
}

#ordering iframe{
    /* height: inherit; */
    border-radius: 6px;
    margin-bottom: 10px;
    flex: 1;
}



.order-info{
    justify-content: space-around;
}


.user-info{
    align-items:center;
    flex: 2;
}



.user-info-input{
    width: 100%;
    flex: 1;
    /* width: auto ; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* margin: 6px; */
    text-align: left;
    /* line-height: 2rem; */
    border-radius: 20px;
}


textarea{ resize: none;}


button#bestill-btn {
    border: 0;
    border-radius: 6px;
}

button#bestill-btn:hover{
    border-radius: 10px;
}


/* Animations */

.text-animation{
    animation-duration: 1s;
    animation-name: slide-in;
    animation-fill-mode: forwards;
}

.text-animation-out{
    animation-duration: 1s;
    animation-name: slide-out;
    animation-fill-mode: forwards;
}



@keyframes slide-in {
    from{
        transform: translateX(150vw);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(-150vw);
        opacity: 0;
    }
}



@media (min-width:800px) {
    .information{
        flex-direction: row;
    }



    body{
        background-color: var(--highlight-color);
        margin: 0 200px;
    }

}