:root{
    --primary-color:#E07A5F;
    /* --secondary-color: #F2CC8F; */
    --secondary-color: #6D597A;
    --accent-color:#3D405B;
    --highlight-color:#2C2F4A;
    /* --highlight-color: #F4A261; */
    --bg-color:#FFF8F0;
    --text-color:#3A2E2A;
    --level1:8px;
    --level2:16px;
    --level3:32px;
    /* overflow-x: hidden; */
    color: rgb(244, 214, 214);
}

/* html, body{
    height: auto;
    min-height: 100%;
} */

.bg-primary{ background-color: var(--primary-color); }
.bg-secondary{ background-color: var(--secondary-color); }
.bg-accent{ background-color: var(--accent-color); }
.bg-highlight{ background-color: var(--highlight-color); }
.bg-text-color{ background-color: var(--text-color); }

.grow{ flex-grow: 1;}

.m0,.m-0,.mg-0,.margin-0{ margin:0; }
.m1,.m-1,.mg-1,.margin-1{ margin: var(--level1); }
.m2,.m-3,.mg-3,.margin-3{ margin: var(--level3); }
.m3,.m-2,.mg-2,.margin-2{ margin: var(--level2); }

.p0,.p-0,.pd-0,.padding-0{ padding: 0; }
.p1,.p-1,.pd-1,.padding-1{ padding: var(--level1); }
.p2,.p-2,.pd-2,.padding-2{ padding: var(--level2); }
.p3,.p-3,.pd-3,.padding-3{ padding: var(--level3); }

.row, .flex-row{ display: flex; flex-direction: row; }
.column, .col, .flex-col, .flex-column{  display: flex;  flex-direction: column; }

.border{
    border: 1px solid black;
}

.h-100{ height: 100%;}
.h-50{height: 50%;}
.w-100{width: 100%;}
.w-50{width: 50%;}
.viewport-h{ height: 100vh; }
.viewport-w { width: 100vw; }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main{
    display: flex;
    flex:1;
    background-color: var(--highlight-color);
    flex-direction: column;
}




/* HEADER */
#header{
    text-align: center;
    background-color: var(--accent-color);
    color: white;
}
#header h1{
    margin: 20px;
}


#nav-bar{
    display: flex;
    justify-content: space-evenly;
    padding: var(--level1);
    margin: var(--level2);
}


#nav-bar a{
    text-decoration: none;
    color: white;
}
/* HERO */


section#hero{
    flex:1;
    display: flex;
    flex-direction: column;
}

/* give all children margin */
section#hero > *{
    margin: var(--level2);

}
    /*  BANNER */
.banner{
    background-color: var(--secondary-color);
    border-radius: var(--level2);
    text-align: center;
    padding: var(--level2);
}

/* OVerride margins set in hero >* selector */
section#hero .banner{
    margin: var(--level2) 0;
    width: 100%;
    border-radius: 0;
}


.banner img{
    width: 100%;
    object-fit:cover;
    height: 200px;
}

/*ANIMATED TEXT  */
.text-slide{
    background-color: var(--secondary-color);
    border-radius: var(--level2);
    text-align: center;
}

 .text-slide p{
    overflow: hidden;
}


    /* Information */
.information{
    display: flex;
    flex-direction: column;
    gap: var(--level2);
    justify-content: space-around;
    margin-bottom: 20px;
}

.information > *{
    border-radius: var(--level2);
}

.info-card{
    background-color: var(--secondary-color);
    text-align: center;
}

.info-card > * {
    padding: 6px;
}


.info-card button{
    outline: 0;
    border: 0;
    border-radius: inherit;
    width: 100%;
    border: 1px solid transparent;
    border-top: dashed 1px #3A2E2A;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: inherit;
}

.info-card button:hover{
    cursor:pointer;

}
.info-card img{
    width: 100%;
    padding: 0;
}


/* END HERO */




/* BESTILLING */

section#ordering{
    height: 100%;
    display: flex;
    text-align: center;
    flex:1;
    flex-direction: column;
}

#ordering .ordering-container{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: 6px;
}

#ordering iframe{
    /* height: inherit; */
    border-radius: 6px;
    margin-bottom: 10px;
    flex: 1;
}



.order-info{
    justify-content: space-around;
}


.user-info{
    align-items:center;
    flex: 2;
}

.user-info-input{
    width: 100%;
    flex: 1;
    /* width: auto ; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* margin: 6px; */
    text-align: left;
    /* line-height: 2rem; */
    border-radius: 20px;
}


textarea{ resize: none;}


button#bestill-btn {
    border: 0;
    border-radius: 6px;
    background: var(--accent-color);
}
/* button#bestill-btn:hover{
    border-radius: 10px;
} */

/* FEEDBACK */


section#feedback{
    text-align: center;
}


section#feedback form > *:not(button){
    /* margin: 20px; */
    padding: 20px 0px;    
    text-align: left;

}
/* Animations */

.text-animation{
    animation-duration: 1s;
    animation-name: slide-in;
    animation-fill-mode: forwards;
}

.text-animation-out{
    animation-duration: 1s;
    animation-name: slide-out;
    animation-fill-mode: forwards;
}


/* gallery */

section#gallery{
    text-align: center;
}

.gallery-grid{
    display: flex;
    height: 100%;
    /* flex-wrap:wrap; */
    gap: 20px;
    /* justify-content: center; */
    margin: 20px;
    overflow-x: scroll;
    align-items: center;
}

.gallery-grid img{
    max-width: 300px;
    max-height: 300px;
}

footer{
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--accent-color);
    padding: var(--level1);
}

footer .contact{
    display: flex;
    color: white;
}
footer .icon-row img{
    width: auto;
    max-width: 64px;
}
footer .icon-row{
    display: flex;
    gap: 20px;
    flex:1;
    justify-content: space-around;
    align-items: center;
}



@media (min-width:800px) {
    .information{
        flex-direction: row;
    }

    .banner{
        /* background-color: var(--secondary-color); */
        background-color: transparent;
        border-radius: var(--level2);
        text-align: center;
        padding: var(--level2) 0;
    }

    .banner p{
        text-align: center;
        width: 100%;
        background-color: var(--secondary-color);
        padding: 20px;

    }
    main{
        width: 100%;
    }
    body{
        background-color: var(--highlight-color);
    }


    footer .icon-row{
        justify-content: flex-end;
    }

    footer .icon-row img{
        width: 64px;
    }

    section#feedback{
        margin: 0 auto;
        max-width: 400px;
        /* padding: 300px; */
    }
}


@keyframes slide-in {
    from{
        transform: translateX(150vw);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(-150vw);
        opacity: 0;
    }
}
