@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    /* --background-color:#511D43; */
    --background-color: linear-gradient(#511d43, #901E3E);
    --footer-color: #511d43;
    --secondary-color: #901E3E;
    --accent-color:#9BC09C;
    --test-color:#FFF8F0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* 
PALLETE
#511D43
#901E3E
#DC2525
9BC09C

*/
.bg-primary{ background-color: var(--primary-color); }
.bg-secondary{ background-color: var(--secondary-color); }
.bg-accent{ background-color: var(--accent-color); }
.bg-highlight{ background-color: var(--highlight-color); }
.bg-text-color{ background-color: var(--text-color); }

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    /* background-color: var(--background-color); */
    /* overflow-x: hidden; */
}

main{
    flex:1;
}

header {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


img{
    max-width: 100%;
    height: auto;
}

/* ALL CHILDREN IN HEADER */
header > * {
    align-self: center;
    text-align: center;
}

/* NAV-BAR */
header > *:not(h1){
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}


footer{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--footer-color);
}

.icon-row a{
    height: 56px;
    width: 56px;
}

.icon-row a:hover{
    border: 3px solid rgba(0, 0, 0, .5);
    border-style: inset;
    border-radius: 100%;
}

footer .icon-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

footer .icon-row img{
    width: 56px;
}
footer .contact {
    display: flex;
    flex-direction: row;
    flex:1;
}

.container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

section#hero{
    display: flex;
    flex-direction: column;
}

section#hero .banner{
    display: flex;
    flex-direction: column;
}


section#hero .banner > *:not(img){
    margin: 20px;
}
section#hero .banner img{
    object-fit:cover;
    height: 200px;
}

section#hero .banner h2{
    text-align: center;
    /* position: relative; */
    /* margin: 20px; */
}


section#content{
    display: flex;
    flex-direction: column;
    margin: 16px;
    gap: 16px;
}

section#content .information{
    display:flex;
    flex-direction: column;
    gap: 10px;
    justify-self: center;
    align-self: center;
}

.padding{
    padding: 8px;
}

ul{
    list-style: inside;
}

.info-card{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--accent-color);
    /* background: linear-gradient(#FE6244, #DC0E0E); */
    background-color: var(--secondary-color);
    border-style: outset;
    border-radius: 10px;
}



.info-card h2{
    text-align: center;
}
.info-card > *:not(img){
    padding: 10px;
}

.info-card button{
    color: black;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    border: 2px solid black;
    border-style: outset;
    color: white;
    font-weight: 800;
    margin: 5px;
}


.popout-border{
    border: 2px solid var(--accent-color);
    background-color: var(--secondary-color);
    border-style: outset;
    border-radius: 10px;
}



.info-card button:hover{
    /* border-style:inset; */
    background: #830c2d;
}

.info-card button:active{
    border-style:inset;
    background: #830c2d;
}


.info-card img{
    max-width: 100%;
    height: auto;
}


@media (min-width:800px) {
    /* section#hero .banner img{
        width: 100%;
        object-fit:fill;
        height: auto;
        height: 200px;
    } */

    header > *:not(h1){
        display: flex;
        justify-content: center;
    }

    section#content .information{
        display: flex;
        flex-direction: row;
    }
    
}